html * {
    font-family: 'Open Sans', sans-serif;
}
body {
    max-width: 90%;
    margin: auto;
    background: linear-gradient(to right,orange,yellow,green,blue,violet);
    background-image: url('img/paysage1.jpg');
    background-color: #FFFF ;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    /*font-family: 'Open Sans', sans-serif;*/
}

#space p:first-of-type{
    font-weight: bold;
}

blockquote {
    max-width: 50%;
    margin: 80px auto;
    background-color: #D3D3D3;
    border-left: 3px solid firebrick;
    padding: 30px;
}

blockquote p {
    font-size: 160%;
    font-style: italic;
}

q {
    font-style: italic;
    background-color: #D3D3D3;
}


p {
    font-family: serif;
    font-size: x-large;
    font-weight: 2px;
    color: #330099;
}



li:first-child{
    background-color: yellow;
    background-image: url("img/bien.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 3px;
}

li:nth-child(2){
    background-image: url("img/mal.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 3px;
}

li:nth-child(3){
    background-image: url("img/chat.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 3px;
}

a {
    color: #9900FF;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #9900FF;
}

a:visited{
    color: purple;
}

.villagers {
    border-left: 5px solid green;
}

.farmer {
    border-left: 5px solid firebrick;
}

.good {
    text-transform: capitalize;
    color: green;
}

.bad {
    text-transform: capitalize;
    color: red;
}

#table {
    background-color: white;
    font-size: larger;
}

#table tr:nth-child(even){
    background-color: #BEBEBE;
}

#man {
    float: right;
    max-width: 40%;
    margin-left: 60px;
}

/*#rock {
    float: left;
    padding: 10px 10px 10px 0px;
    margin: 30px 30px 30px 0px;
}*/

figcaption {
    font-size: larger;
}

#space {
    margin-bottom: 100px;
}

 


#farmer {
    width: 90%;
    margin: 20px auto 0;
    
}







