p {
    font-family: serif;
    font-size: large;
    color: #330099;

}

a {
    color: #9900FF;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #9900FF;
}
a:visited{
    color: purple;
}